body {
  background-color: teal;
}
#java {
  color: green;
}
.yellow {
  color: yellow;
}
li {
  color: blue;
}
table,
thead,
tbody td {
  width: 50%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 0.2px;
}
